@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Portfolio.API.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Documentazione API";

    // Prendo la lista ordinata delle chiamate
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model
        .OrderBy(d => d.ActionDescriptor.ControllerDescriptor.ControllerName)
        .ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduzione</h2>
            <p>
                Lista delle chiamate API disponibili nel mio sito web.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
