<div class="jumbotron">
    <h1>Daris Cappelletti - API</h1>
    <p class="lead">Documentazione delle chiamate API disponibili sul mio sito web.</p>
    @Html.ActionLink("Vai alla documentazione", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })
</div>
